In [10]:
print("Twinkle, twinkle, little star,")
print("How I wonder what you are! Up above the world so high,")
print("Like a diamond in the sky. Twinkle, twinkle, little star,")
print("How I wonder what you are")

Twinkle, twinkle, little star,
How I wonder what you are! Up above the world so high,
Like a diamond in the sky. Twinkle, twinkle, little star,
How I wonder what you are

In [11]:
def calculate_difference(num):
    if num > 17:
        return 2 * abs(num - 17)
    else:
        return 17 - num
print(calculate_difference(20))

6

In [12]:
def check_even_odd(num):
    if num % 2 == 0:
        return "Even"
    else:
        return "Odd"
print(check_even_odd(7))

Odd

In [13]:
def count_number_four(lst):
    return lst.count(4)

numbers = [1, 4, 2, 3, 4, 5, 4]
print(count_number_four(numbers))

3

In [14]:
def check_vowel(letter):
    vowels = ['a', 'e', 'i', 'o', 'u']
    if letter.lower() in vowels:
        return True
    else:
        return False

print(check_vowel('A'))  # Example usage

True

In [15]:
def convert_minutes_to_seconds(minutes):
    return minutes * 60

print(convert_minutes_to_seconds(5))

300

In [16]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

def test_prime_numbers():
    primes = [2, 7]
    non_primes = [1, 4]

    for num in primes:
        if not is_prime(num):
            return False

    for num in non_primes:
        if is_prime(num):
            return False

    return True

if test_prime_numbers():
    print("All tests passed - Numbers are prime!")
else:
    print("Some tests failed - Numbers are not prime.")

All tests passed - Numbers are prime!

In [17]:
def sum_list_items(lst):
    return sum(lst)
numbers = [1, 2, 3, 4, 5]
print(sum_list_items(numbers))

15

In [18]:
def multiply_list_items(lst):
    result = 1
    for num in lst:
        result *= num
    return result

numbers = [1, 2, 3, 4, 5]
print(multiply_list_items(numbers))

120

In [19]:
def get_largest_number(lst):
    return max(lst)

numbers = [1, 7, 3, 9, 5]
print(get_largest_number(numbers))

9

In [20]:
def get_smallest_number(lst):
    return min(lst)

numbers = [1, 7, 3, 9, 5]
print(get_smallest_number(numbers))

1